/* -------------
    custom class
--------------- */

:root {
  --black: hsl(0, 0%, 11%);
  --dark-gray: #424242;
  --gray: #727272;
  --light-orange: rgba(255, 143, 14, 0.082);
  --hot-orange: #ff900e;
  --primary-font: "Work Sans", sans-serif;
}

/* -------------
       body
--------------- */

body {
  font-family: var(--primary-font);
  background-color: var(--light-orange);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------
    nav styles
   --------------- */

.container {
  padding: 0 85px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.nav-title {
  font-weight: bold;
  font-size: 35px;
}

li {
  font-size: 16px;
  color: var(--dark-gray);
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

/* -------------
    banner styles
   --------------- */

   .section-header{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 100px 0 50px 0;
   }

.section-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
}

.section-des{
font-size: 16px;
line-height: 26px;
color: var(--gray);
margin: 30px 0 30px 0;
}

.btn-primary{
width: 178px;
height: 62px;
background-color: var(--hot-orange);
color: white;
border: none;
border-radius: 5px;
font-size: 20px;
}

.banner-img{
    width: 75%;
    height: 50%;
    border-radius: 10px;
    margin: 40px 0 30px 0;
}

/* -------------
    feature styles
   --------------- */

   .fetures-section {
    display: flex;
    justify-content: center;
    background-color: white; 
    padding: 50px 0px 100px 160px;
    align-items: center;
   }
   
   .img-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
   }

   .img-section img {
    width: 280px;
    height: 280px;
   }

   .fetures-details{
    padding: 0 50px;
   }

   .fetures-title{
font-size: 45px;
line-height: 53px;
   }

   .span-1{
    font-weight: 500;
    color: var(--gray);
   }

   .span-2{
    color: var(--hot-orange);
   }

   .feture-des{
    font-size: 16px;
    line-height: 26px;
    color: var(--gray);
    padding: 30px 0;
   }

